    <!-- Footer -->
      <div id="footer">
        <div class="container">
          <div class="row ">
            <div class="6u">
              <div class="row collapse-at-2">
                <section class="6u">
                  <h3>Popular Posts</h3>
                  <ul class="links">
                    <li><a href="http://www.runtogold.com/goldmoney-review/">GoldMoney Review</a></li>
                    <li><a href="http://www.runtogold.com/get-a-ghost-address/">Earth Class Mail - Best Mail Forwarding Service So Get A Ghost Address</a></li>
                    <li><a href="http://www.runtogold.com/how-to-buy-gold-or-silver/5-dollar-gold-coin-value-gold-coin-dealer/">5 Dollar Gold Coin Value From A Reputable Gold Coin Dealer</a></li>
                    <li><a href="http://www.runtogold.com/metal-prices/silver-price-and-silver-prices/">The Spot Silver Price Today With 200 Day Moving Average Silver Chart</a></li>
                    <li><a href="http://www.runtogold.com/how-to-buy-gold-or-silver/50-dollar-gold-coin-value-gold-coin-dealer/">50 Dollar Gold Coin Value From A Reputable Gold Coin Dealer</a></li>
                    <li><a href="http://www.runtogold.com/metal-prices/gold-price-and-gold-prices/">The Spot Gold Price Today With 200 Day Moving Average Gold Chart</a></li>
                    <li><a href="http://www.runtogold.com/how-to-buy-gold-or-silver/25-dollar-gold-coin-value-gold-coin-dealer/">25 Dollar Gold Coin Value From A Reputable Gold Coin Dealer</a></li>
                    <li><a href="http://www.runtogold.com/2010/09/negative-effects-of-inflation-on-economy-monetary-policy/">Negative Effects Of Inflation On Economy From Monetary Policy</a></li>
                    <li><a href="http://www.runtogold.com/bitcoin-price/">Bitcoin Price - Run To Bitcoin For These Reasons</a></li>
                    <li><a href="http://www.runtogold.com/how-to-buy-gold-or-silver/">Buy Gold | Buy Silver | Buy Platinum | Buy Palladium And Avoid Scams</a></li>
                    <li><a href="http://www.runtogold.com/how-to-buy-gold-or-silver/10-dollar-gold-coin-value-gold-coin-dealer/">10 Dollar Gold Coin Value From A Reputable Gold Coin Dealer</a></li>
                    <li><a href="http://www.runtogold.com/goldmoney/bitgold-review/">Bitgold Review</a></li>
                    <li><a href="http://www.runtogold.com/products/">Products</a></li>
                    <li><a href="http://www.runtogold.com/2013/04/why-michael-pento-should-just-keep-his-mouth-shut/">Why Michael Pento Should Just Keep His Mouth Shut</a></li>
                    <li><a href="http://www.runtogold.com/goldmoney/goldmoney-scam-goldmoney-fraud-complaints-problems/">No Evidence Of GoldMoney.com Scam Fraud Complaints Or Problems</a></li>
                  </ul>
                </section>
                <section class="6u">
                  <h3>Sites</h3>
                  <ul class="links">
                    <li><a href="https://www.bitcoinmining.com/">Bitcoin Mining</a></li>
                    <li><a href="http://www.bitcoin.kn/">Bitcoin Podcast</a></li>
                    <li><a href="https://www.weusecoins.com/bitgold/">Bitgold</a></li>
                    <li><a href="https://www.weusecoins.com/coinbase-review/">Coinbase Review</a></li>
                    <li><a href="http://www.dollarcollapse.com/">Dollar Collapse</a></li>
                    <li><a href="http://ftmdaily.com/">FTM Daily</a></li>
                    <li><a href="http://www.gata.org/">GATA</a></li>
                    <li><a href="http://www.howtovanish.com/">How To Vanish</a></li>
                    <li><a href="http://www.ml-implode.com/">ML-Implode</a></li>
                    <li><a href="http://www.runtogold.tv/">Run To Gold TV</a></li>
                    <li><a href="http://www.silver-investor.com/">Silver-Investor</a></li>
                    <li><a href="https://www.weusecoins.com/">What Is Bitcoin</a></li>
                  </ul>
                  <h3>Book Reviews</h3>
                  <ul class="links">
                    <li><a href="http://www.runtogold.com/2008/12/the-ascent-of-money-by-niall-ferguson/">Ascent Of Money</a></li>
                    <li><a href="http://www.runtogold.com/2009/08/interview-with-john-rubino/">Collapse Of The Dollar</a></li>
                    <li><a href="http://www.runtogold.com/2009/06/get-the-skinny-on-silver-investing/">Get The Skinny On Silver</a></li>
                    <li><a href="http://www.runtogold.com/2009/07/pieces-of-eight/">Pieces Of Eight</a></li>
                    <li><a href="http://www.runtogold.com/2009/06/what-has-government-done-to-our-money/">What Govt Done To Our Money</a></li>
                    <li><a href="http://www.runtogold.com/2008/10/world-made-by-hand/">World Made By Hand</a></li>
                  </ul>
                </section>
              </div>
            </div>
            <section class="6u">
              <h3>Who is Trace Mayer?</h3>
              <center><iframe width="400" height="225" src="https://www.youtube.com/embed/mgpDuH17T0Y" frameborder="0" allowfullscreen></iframe></center>
              <center><small>Video courtesy of: <em><a href="http://www.RunToGold.com/">www.RunToGold.com</a></em></small></center>
              <br/>
              <center><a href="http://www.creditcontraction.com/"><img src="{{ site.baseurl }}/images/cc-banner.jpg"/></a></center>
            </section>
          </div>
        </div>

        <!-- Icons -->
          <ul class="icons">
            <li><a href="http://twitter.com/runtogold" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
            <li><a href="https://www.facebook.com/runtogold" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
            <li><a href="" class="icon fa-github"><span class="label">GitHub</span></a></li>
          </ul>

        <!-- Copyright -->
          <div class="copyright">
            <ul class="menu">
              <li>&copy; RunToGold. All rights reserved 2004 - 2017</li>
            </ul>
          </div>

      </div>
{% include analytics.html %}
  </body>
</html>
